fastapi
google-generativeai
langchain
langchain-chroma
langchain-community
langchain-core
# langchain-google-genai
langchain-groq
langchain-huggingface
langchain-text-splitters
pydantic-settings
sentence-transformers
uvicorn[standard]
